@model Alan_Veiculos.Models.UsuariosViewModel

@{
    ViewData["Title"] = "Excluir Usuario";
}

<h1>Excluir Usuario</h1>

<h3>Você tem certeza que deseja excluir este Usuario?</h3>
<div>
    <h4>UsuariosViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Excluir_Usuario">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Listar_Usuario">Voltar à Lista</a>
    </form>
</div>
