@model IEnumerable<Alan_Veiculos.Models.ClientesViewModel>

@{
    ViewData["Title"] = "Listagem de Clientes";
}

<h1>@ViewData["Title"]</h1>

@if(Model != null && Model.Any())
{
    <table class="table table-striped table-bordered table-hover datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cep)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.First().Logradouro)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.First().Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
               @*  <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Alterar_Cliente" asp-route-id="@item.Id" class="btn btn-info btn-sm">Editar</a> 
                    <a asp-action="Excluir_Cliente" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <p>Nenhum veículo encontrado.</p>
}
<p>
    <a asp-action="Inserir_Cliente">Criar Novo Cliente</a>
</p>
