@model Alan_Veiculos.Models.VeiculosViewModel

@{
    ViewData["Title"] = "Excluir Veículo";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja excluir este veículo?</h3>

<div>
    <h4>Veículo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>

    <form asp-action="Excluir_Veiculo">
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Listar_Veiculo" class="btn btn-secondary">Voltar à Lista</a>
    </form>
</div>
